<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="login" method="post">
            {% csrf_token %}
            <label for="nm">NAME:</label>
            <input type="text" id="nm" name="nm"><br><br>

            <label for="eml">EMAIL:</label>
            <input type="email" name="eml" id="eml"><br><br>

            <label for="pno">PHONE:</label>
            <input type="text" name="pno" id="pno"><br><br>

            <label for="un">Username:</label>
            <input type="text" name="un" id="un"><br><br>

            <label for="pw">Password:</label>
            <input type="password" name="pw" id="pw"><br><br>

            <label for="cpw">Confirm Password:</label>
            <input type="password" name="cpw" id="cpw"><br><br>

            <input type="submit" value='Register'>

        </form>
    </center>
</body>
</html>